.education {
  display: flex;
  flex-direction: column;

  h3 {
    margin: 0;
    text-align: left;
  }
  label {
    text-align: left;
  }

  .dates-group {
    display: flex;
    div {
      display: flex;
      flex-direction: column;
    }
  }
}