.education {
  display: flex;
  flex-direction: column;
  padding: 18px;
  gap: 6px;

  .expand-btn {
    display: flex;
    justify-content: space-between;
    background-color: inherit;
  }

  h3 {
    margin: 0;
    text-align: left;
  }

}