.education {
  display: flex;
  flex-direction: column;
  padding: 18px;
  gap: 6px;

  .expand-btn {
    display: flex;
    justify-content: space-between;
    background-color: inherit;

    h3 {
      color: #72594D;
      font-size: 18px;
      font-weight: bold;
    }
  }

  .edulist {
    display: flex;
    align-items: center;
    
    button {
      width: 100%;
      padding: 10px;

      text-align: left;
      outline: none;
      border: 2px solid transparent;
      border-radius: 12px;

      color: #72594D;
      font-weight: bold;

    }
  }


  .plus{
    button {
      border-radius: 50%;
      width: 50px;
      height: 50px;
    }
  }
}