.experience-add-form  {
  display: flex;
  flex-direction: column;
  gap: 6px;
  
    label {
      text-align: left;
    }

  .dates-group {
    display: flex;
    gap: 1rem;
    div {
      display: flex;
      flex-direction: column;
    }
  }

  .btn-group {
    display: flex;
    justify-content: center;
    gap: 16px;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
      padding: 8px 12px;
      border-radius: 10px;

      
    }
  }
}