.experience {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 18px;
  h3 {
    margin: 0;
    text-align: left;
  }
  
  label {
    text-align: left;
  }

  .dates-group {
    display: flex;
    gap: 1rem;

    div {
      display: flex;
      flex-direction: column;
    }
  }
}